# 忽略编译输出目录
[Bb]in/
[Oo]bj/

# 忽略 Visual Studio 本地缓存和设置
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# 忽略最终输出目录
build/

# 忽略第三方商业侵权依赖库（强烈建议）
lib/

# 忽略临时文件
*.log
*.cache
TempPE/
# 忽略编译输出的文件夹
build/
项目备忘